<!-- template.html -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<base href="/">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<link rel="stylesheet" href="/styles/style.css">

<div class="container" id="app">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img src="/img/logo.png" alt="logo" id = "log"/>

            <h1></h1>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <form action="" class="search-form">
                <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input type="text" class="form-control" name="search" id="search" placeholder="search"
                        v-model="query">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" v-for="result in results">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!-- display the city name and country  -->
                    {{ result._source.name }}, {{ result._source.country }}
                </div>
                <div class="panel-body">
                    <!-- display the latitude and longitude of the city  -->
                    <p>lat:{{ result._source.lat }}, long: {{ result._source.lng }}.</p>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    // create a new Vue instance
    var app = new Vue({
        el: '#app',
        // declare the data for the component (An array that houses the results and a query that holds the current search string)
        data: {
            results: [],
            query: ''
        },
        // declare methods in this Vue component. here only one method which performs the search is defined
        methods: {
            // make an axios request to the server with the current search query
            search: function () {
                axios.get("http://127.0.0.1:3001/search?q=" + this.query)
                    .then(response => {
                        this.results = response.data;

                    })
            }
        },
        // declare Vue watchers
        watch: {
            // watch for change in the query string and recall the search method
            query: function () {
                this.search();
            }
        }

    })
</script>

<!--- some styling for the page -->